
#bg-image{
  background-image: url('https://i.ibb.co/Xk8pRQ0/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:400px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.shade{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.8);
}
